<mat-card fxFlex="100">
    <mat-card-header style="background-color:blue; padding:20px;">
        <mat-card-title style="color:beige;">{{form?.value.name}}</mat-card-title>
        <mat-card-subtitle style="color:beige;">{{form?.value.description}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form" fxFlex="100" style="margin-left:'20px'; margin-right:'20px'">
            <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="20px">
                <div formArrayName="questions" *ngFor="let question of this.questionsArray['controls']; let i = index;" fxLayout="column" fxLayoutAlign="center strech" fxLayoutGap="20px">
                    <mat-card class="mat-elevation-z4" [formGroupName]="i" fxLayout="column" fxLayoutGap="20px" [ngSwitch]="question.value.questionType">
                        <mat-form-field *ngSwitchCase="'Texto'">
                            <span style="color: #808080;">
                                {{question.value.text}}
                            </span>
                            <input matInput autocomplete="off">
                            <mat-hint align="start"><strong>Su respuesta</strong> </mat-hint>
                        </mat-form-field>
                        <div *ngSwitchCase="'Seleccion multiple'">
                            <span style="color: #808080;">
                                {{question.value.text}}
                            </span>
                            <mat-list-item *ngFor="let option of this.getOptions(i).value">
                                <mat-checkbox *ngIf="option.value">{{option.value}}</mat-checkbox>
                            </mat-list-item>
                        </div>
                        <div *ngSwitchCase="'Seleccion simple'">
                            <span style="color: #808080;">
                                {{question.value.text}}
                            </span>
                            <mat-radio-group
                                 class="example-radio-group">
                                <mat-radio-button class="example-radio-button" *ngFor="let option of this.getOptions(i).value" [value]="option.value">
                                    {{option.value}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </mat-card>
                </div>
            </div>
        </form>
          <!--  <span [ngSwitch]="question.questionType">
                <span *ngSwitchCase="'Texto'">
                    <h1>{{question.text}}</h1>
                    <input matInput autocomplete="off">
                </span>
                <span *ngSwitchCase="'Seleccion multiple'">
                    <h1>{{question.text}}</h1>
                    <mat-list-item *ngFor="let option of question.options">
                        <mat-checkbox>{{option}}</mat-checkbox>
                    </mat-list-item>
                </span>
                <span *ngSwitchCase="'Seleccion simple'">
                    <h1>{{question.text}}</h1>
                    <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group">
                        <mat-radio-button class="example-radio-button" *ngFor="let option of question.options" [value]="option">
                            {{option}}
                        </mat-radio-button>
                    </mat-radio-group>
                </span>
            </span>-->
    </mat-card-content>
</mat-card>